# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Pulling latest from gh-pages
      run: |
        git pull
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install MarkdownTools2
      run: |
        python -m pip install MarkdownTools2
    - name: Merge MD files
      run: |
        mdmerge -o docs/merged.md ${PWD}/docs/index.md ${PWD}/docs/By-approach/asking-questions.md ${PWD}/docs/By-approach/communicating.md
    - name: Pulling latest from gh-pages
      run: |
        git pull 
    - name: Deploy to GH Pages
      run: |
        docker run --rm -v ~/.ssh:/root/.ssh -v ${PWD}:/docs squidfunk/mkdocs-material:4.6.3 gh-deploy
      
